<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Downloader</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="icon" href="https://repository-images.githubusercontent.com/307260205/b6a8d716-9c7b-40ec-bc44-6422d8b741a0"
    type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" />
  <link rel="stylesheet" href="/static/style.css" />

</head>

<body>
  <div class="wrapper">
    <h1>
      <img src="https://repository-images.githubusercontent.com/307260205/b6a8d716-9c7b-40ec-bc44-6422d8b741a0"
        height="200px" alt="Logo" />
    </h1>
    <form action="/download" method="post" onsubmit="return validateForm()">
      <input type="text" id="video_url" name="video_url" placeholder="Enter Video URL" required />
      <div id="format_selection">
        <button id="mp3_button" type="button" onclick="selectFormat('mp3')">
          .mp3
        </button>
        <button id="mp4_button" type="button" onclick="selectFormat('mp4')">
          .mp4
        </button>
        <input type="hidden" id="download_format" name="download_format" value="mp3" />
      </div>
      <button type="submit">Download</button>
    </form>
  </div>
  <footer>
    <ul>
      <li><a href="https://github.com/yt-dlp/yt-dlp">Source Code</a></li>
      <li>
        <a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md#supported-sites">Supported Sites</a>
      </li>
    </ul>
  </footer>
  <script>
    function selectFormat(format) {
      document.getElementById("mp3_button")
      document.getElementById("mp4_button")

      var formatInput = document.getElementById("download_format");
      formatInput.value = format;
    }

  </script>
</body>

</html>